* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  /* font-size: 10px; */
}

@font-face {
  font-family: head;
  src: url(./JellyjampersonaluseBold-Rpjev.otf);
}

@font-face {
  font-family: mark-simson;
  src: url(./mark-simonson-regular.woff2);
}

@font-face {
  font-family: ff;
  src: url(./Hellobestladyscript-x31lR.otf);
}

#loader {
  width: 100vw;
  height: 100vh;
  background-color: rgb(104, 23, 185);
  position: fixed;
  top: 0;
  z-index: 9999999;
  /* display: none; */
}

.infinite {
  width: 30%;
  height: 30%;
  position: relative;
  top: 30%;
  left: 35%;
  background-color: antiquewhite;
  overflow: hidden;
}

.infinite img {
  width: 100%;
  height: 100%;
}

#car {
  position: absolute;
  scale: 0.4;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  left: -30%;
  top: 12%;
}

#load {
  width: 50%;
  height: 20px;
  background-color: rgb(232, 232, 232);
  position: relative;
  top: 40%;
  left: 22%;
  border-radius: 30px;
}

#seek {
  position: absolute;
  background-color: rgb(42, 1, 83);
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border-radius: 30px;
}

#load h1 {
  color: rgb(232, 232, 232);
  font-family: mark-simson;
  position: absolute;
  top: -40%;
  left: 102%;
}

#main {
  width: 100%;
  overflow-x: hidden;
}

#page1 {
  width: 100vw;
  height: 100vh;
  background-color: rgb(104, 23, 185);
  /* background-color: rgb(221, 188, 255); */
  overflow-x: hidden;
}

.nav {
  width: 100%;
  padding: 20px 40px;
  padding-right: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: mark-simson;
  position: relative;
  z-index: 99;
}

.nav-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-weight: 500;
  text-transform: capitalize;
}

.nav-part:nth-child(1) {
  width: 40%;
}

.nav-part:nth-child(2) {
  width: 60%;
}

.nav-part h2 {
  padding: 5px 30px;
  /* border: 2px solid rgb(247, 19, 114); */
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}

.nav-part h2::before {
  font-family: mark-simson;
  color: white;
  content: "Web Developer";
  font-size: 15px;
  text-align: center;
  /* padding-left: 30px; */
  width: 100%;
  height: 100%;
  background-color: purple;
  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 30px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  /* transform: rotateX(90deg); */
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.nav-part h2::after {
  font-family: mark-simson;
  content: "yash";
  padding-left: 30px;
  width: 100%;
  height: 100%;
  background-color: rgb(221, 188, 255);
  position: absolute;
  top: 0%;
  left: 0;
  border-radius: 30px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  /* transform: rotateX(90deg); */
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.nav-part h2:hover::before {
  top: 0%;
}

.nav-part h2:hover::after {
  top: -100%;
}

.nav-part a {
  text-decoration: none;
  font-size: 30px;
  color: white;
  font-size: 2vw;
  /* border: 2px solid rgb(247, 19, 114); */
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}

.text {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  /* background-color: aqua; */
  overflow: hidden;
}

.text h1 {
  font-family: head;
  background-image: url(https://images.unsplash.com/photo-1543857778-c4a1a3e0b2eb?q=80&w=1910&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  /* font-size: 19rem; */
  font-size: 12.5vw;
  z-index: 9999;
  cursor: default;
  position: relative;
  /* margin-top: 800px; */
  /* top: 60%; */
}

#t-1 {
  top: 8%;
  left: 6%;
}

#t-2 {
  top: 2%;
  left: 24%;
}

#t-3 {
  top: -3%;
  left: 6%;
}

#t-4 {
  top: -8%;
  left: 24%;
}

#page1 > h1:nth-child(1) {
  /* position: relative; */
  top: 10%;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.393);
  -webkit-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  transition: all linear 0.4s;
  /* border-radius: 50%; */
  /* scale: 0; */
}

#mouse-move {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: fixed;
  overflow: hidden;
  background-color: purple;
  scale: 0.6;
  -webkit-transition: all linear 0.1s;
  -o-transition: all linear 0.1s;
  transition: all linear 0.1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* z-index: 99999999; */
}

#mouse-move h1 {
  font-size: 35px;
  text-transform: uppercase;
  color: white;
  font-family: mark-simson;
}

#page2 {
  width: 100vw;
  height: 90vh;
  /* background-color: rgb(221, 188, 255); */
  background-color: rgb(104, 23, 185);
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 60px;
  padding: 10px;
  padding-left: 30px;
}

#page2 h1 {
  position: relative;
  font-size: 6vw;
  font-family: mark-simson;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* color: rgba(0, 0, 0, 0.893); */
  color: white;
  white-space: nowrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#page2 h1 span {
  font-family: ff;
  margin-left: 10px;
  color: rgb(247, 19, 114);
}

#page2 h1 a {
  font-size: 70px;
  cursor: pointer;
  font-family: ff;
  margin-left: 10px;
  color: rgb(247, 19, 114);
  /* color: rgb(181, 3, 77); */
  text-decoration: none;
}

#skills {
  width: 100vw;
  height: 100vh;
  /* background-color: rgb(221, 188, 255); */
  background-color: rgb(104, 23, 185);
  position: relative;
  font-family: mark-simson;
}

#skills > h1 {
  /* font-size: 500px; */
  font-size: 34vw;
  font-family: mark-simson;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  color: rgba(255, 255, 255, 0.561);
}

.circle {
  width: 70%;
  height: 70%;
  /* background-color: antiquewhite; */
  position: relative;
  top: 14%;
  left: 15%;
  /* transform: translate(-50%,-50%); */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  z-index: 99;

  -webkit-animation-name: r;

  animation-name: r;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 8s;
  animation-duration: 8s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes ro {
  0% {
    rotate: 0%;
  }
  100% {
    rotate: 360deg;
  }
}

@keyframes ro {
  0% {
    rotate: 0%;
  }
  100% {
    rotate: 360deg;
  }
}

.skill {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 12%;
  list-style: none;
  -webkit-transform-origin: 400px;
  -ms-transform-origin: 400px;
  transform-origin: 400px;
  /* background-color: yellow; */
  /* transition-delay: calc(0.1s * var(--i)); */
  /* transform : rotate(calc(360deg / 10 * var(--i)) ); */
  -webkit-transform: rotate(0deg) translateX(450px);
  -ms-transform: rotate(0deg) translateX(450px);
  transform: rotate(0deg) translateX(450px);
  background-position: center;
  scale: 0;
}

.skill img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  background-position: center;
}

.skill:nth-child(2) img {
  -webkit-transform: rotate(-65deg);
  -ms-transform: rotate(-65deg);
  transform: rotate(-65deg);
}

.skill:nth-child(3) img {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.skill:nth-child(4) img {
  width: 150%;
  scale: 0.8;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.skill:nth-child(5) img {
  scale: 2;
  -webkit-transform: rotate(165deg);
  -ms-transform: rotate(165deg);
  transform: rotate(165deg);
}

.skill:nth-child(6) img {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.skill:nth-child(7) img {
  scale: 0.85;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.skill:nth-child(8) img {
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  scale: 1.4;
}

#skills button {
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 30px;
  padding: 15px 30px;
  border-radius: 30px;
  border: none;
  color: white;
  background-color: purple;
  cursor: pointer;
  z-index: 99;
}

.controls {
  position: absolute;
  top: 52%;
  left: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
  z-index: 99;
}

.controls i {
  font-size: 70px;
  cursor: pointer;
}

#skills-phone-view {
  width: 100vw;
  height: 100vh;
  /* background-color: yellow;0 */
  background-color: rgb(104, 23, 185);
  position: absolute;
  top: 0%;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 5%;
  /* display: none; */
  scale: 0;
}

.phn-skl {
  width: 30%;
  height: 30%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  /* background-color: red; */
}

.phn-skl img {
  width: 70%;
  height: 70%;
  -o-object-fit: cover;
  object-fit: cover;
}

#page3 {
  width: 100vw;
  height: 100vh;
  /* background-color: rgb(111, 14, 207); */
  /* background-color:rgb(221, 188, 255); */
  background-color: rgb(104, 23, 185);
  position: relative;
  overflow: hidden;
}

#page3 h1 {
  font-family: mark-simson;
  font-size: 100px;
  text-align: center;
  width: 100%;
  position: relative;
  /* margin-top: 20px; */
  /* font-weight: 400; */
  color: rgb(233, 232, 232);
}

#projects {
  width: 100%;
  height: 100%;
  position: absolute;
  /* background-color: aqua; */
  top: 0%;
}

.project {
  width: 25%;
  height: 30%;
  background-color: rgb(166, 105, 224);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-size: cover;
  overflow: hidden;
  border-radius: 10px;
}

.project video {
  position: relative;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#b1 {
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  font-size: 30px;
  z-index: 999;
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgb(232, 232, 232);
}

#b2 {
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  font-size: 30px;
  z-index: 999;
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  scale: 0;
  background-color: rgb(232, 232, 232);
}

#close-prj-icon {
  position: absolute;
  top: 3%;
  right: 3%;
  font-size: 50px;
  scale: 0;
  -webkit-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  transition: all linear 0.4s;
  color: rgb(232, 232, 232);
}

.more-projects {
  width: 100%;
  height: 100%;
  /* background-color: aqua; */
  /* background-color:rgb(221, 188, 255); */
  background-color: rgb(104, 23, 185);
  top: 0;
  position: absolute;
  left: 100%;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.more-projects > h2 {
  position: absolute;
  top: 1.2%;
  left: 10%;
  font-size: 35px;
  font-family: mark-simson;
  color: rgb(236, 236, 236);
}

#notice {
  font-size: 60px;
  font-family: mark-simson;
  /* color: rgba(0, 0, 0, 0.685); */
  color: rgb(236, 236, 236);
  position: absolute;
  text-align: center;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 9;
}

.more {
  width: 100%;
  height: 90%;
  /* background-color:rgb(221, 188, 255); */
  background-color: rgb(104, 23, 185);
  /* overflow: auto; */
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* z-index: 9; */
}

.pr {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 90%;
  /* background-color: antiquewhite; */
  /* background-color:rgb(221, 188, 255); */
  background-color: rgb(104, 23, 185);
  position: relative;
  left: 110%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* overflow: auto; */
  gap: 300px;
  z-index: 99;
}

.pr-de {
  position: absolute;
  right: -3.7%;
  top: 35%;
  width: 250px;
  height: 250px;
  /* background-color: aqua; */
  background-color: rgb(20, 102, 174);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px;
  font-family: mark-simson;
  color: rgb(232, 232, 232);
  text-align: center;
  padding-top: 20px 2px;
  padding-top: 40px;
}

.pr-de > h1 {
  font-size: 30px;
}

.pr-de i {
  font-size: 30px;
}

.pr-details {
  width: 600px;
  height: 100%;
  /* background-color: green; */
  -ms-flex-negative: 0;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
}

.pr-video-container {
  width: 100%;
  height: 55%;
  /* background-color: red; */
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.pr-video-container video {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.pr-link {
  width: 100%;
  height: 45%;
  /* background-color: yellow; */
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 20px;
  font-family: mark-simson;
  color: rgb(234, 234, 234);
  top: 50%;
}

::-webkit-scrollbar {
  display: none;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  width: 90%;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.pr-link a {
  text-decoration: none;
  font-size: 30px;
  text-transform: capitalize;
  /* color: black; */
  color: rgb(235, 235, 235);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.pr-link a i {
  font-size: 30px;
}

.pr-link p {
  font-size: 30px;
}

.pr-link h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 27px;
  gap: 5px;
}

.pr-link h3 {
  font-size: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

#page4 {
  width: 100vw;
  height: 90vh;
  /* background-color: rgb(238, 13, 193); */
  background-color: rgb(104, 23, 185);
  position: relative;
  overflow: hidden;
}

#page4 > h1 {
  font-size: 5vw;
  font-family: mark-simson;
  position: relative;
  left: 5%;
  top: 0%;
  color: rgb(232, 232, 232);
}

.social-media {
  width: 100%;
  height: 40vh;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex-wrap: wrap; */
  position: relative;
  top: 10%;
}

.social {
  width: 33.33%;
  /* background-color: antiquewhite; */
  background-color: rgb(197, 234, 255);
  height: 100%;
  /* border-right: 2px solid black; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  left: 0;
  -webkit-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.social:hover {
  width: 43%;
}

.social:nth-child(2) {
  background-color: rgb(90, 227, 251);
}

.social:nth-child(3) {
  background-color: rgb(20, 102, 174);
}

.social a {
  text-decoration: none;
  /* color: rgb(227, 43, 74); */
}

.social:nth-child(1) a i {
  color: rgb(244, 32, 32);
}

.social:nth-child(1) a {
  color: black;
}

.social:nth-child(2) a {
  color: black;
}

.social:nth-child(3) a {
  color: white;
}

.social i {
  font-size: 80px;
}

.social h2 {
  font-family: mark-simson;
  font-size: 2vw;
}

.gmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  font-family: mark-simson;
  color: rgb(232, 232, 232);
  top: 20%;
  left: 34%;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.gmail i {
  font-size: 40px;
}

.gmail h1 {
  font-size: 2.1vw;
}

.contact {
  position: relative;
  top: 21.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: mark-simson;
  gap: 10px;
  color: rgb(232, 232, 232);
  text-align: center;
}

.contact h2 {
  font-size: 2vw;
}

.contact h1 {
  font-size: 2.1vw;
}

@media (max-width: 1024px) {
  #skills-phone-view {
    scale: 1;
  }
}

@media (max-width: 800px) {
  #page1 {
    height: 60vh;
  }

  #t-1 {
    top: 15%;
    left: 5%;
  }

  #t-2 {
    top: 10%;
    left: 5%;
  }

  #t-3 {
    top: 5%;
    left: 5%;
  }

  #t-4 {
    top: 0%;
    left: 5%;
  }

  .text h1 {
    font-size: 15vw;
  }

  #page2 {
    height: 70vh;
  }

  #page4 {
    height: 150vh;
  }

  #page4 h1 {
    font-size: 10vw;
  }

  .social-media {
    top: 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .social {
    width: 100%;
  }

  .gmail {
    top: 55%;
    left: 0%;
    white-space: nowrap;
  }

  .gmail h1 {
    font-size: 5vw;
  }

  .contact {
    top: 55%;
  }

  .contact h2 {
    font-size: 5vw;
  }

  .contact h1 {
    font-size: 5.5vw;
  }

  /* #page2 h1{
      top: 10%;
     } */
}

@media (max-width: 610px) {
  .phn-skl {
    height: 25%;
  }
}
